<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Proyecto Integrado</title>
    <link rel="stylesheet" type="text/css" href="../View/css/style.css">
    <link rel="stylesheet" type="text/css" href="../View/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../View/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../View/css/jquery-ui.min.css">
    <script type="application/javascript" src="../View/js/jquery.js"></script>
    <script type="application/javascript" src="../View/js/jquery-ui.min.js"></script>
    <script type="application/javascript" src="../View/js/jquery.validate.min.js"></script>
    <script type="application/javascript" src="../View/js/additional-methods.min.js"></script>
    <script type="application/javascript" src="../View/js/javascript.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h2 class="tituloHeader">Gestion Restaurante</h2>
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li><a href="../Controller/comida.php">Comida</a></li>
                    <li><a href="../Controller/bebida.php">Bebida</a></li>
                    <!--<li><a href="../Controller/usuarios.php">Usuarios</a></li>-->
                </ul>
            </nav>
        </header>
    </div>
    
    <section class="container">
    {{ include('tools.html.twig') }}
    </section>
    
    
    
    <section id="contenido" class="container">
    {% if origin == "Comida" %}
    {% include ("listadoComida.html.twig") %}
    {% endif %}
    {% if origin == "Bebida" %}
    {% include ("listadoBebida.html.twig") %}
    {% endif %}
    
    </section>
    
    <footer class="container container-inverse">
        <p class="autor">Pagina creada por: <em>Juan Jose Fernandez Romero</em></p>
    </footer>
    
    <div id="dialogBorrar"><p>¿Esta seguro de que desea borrar este registro?</p></div>
    <div id="dialogUpdate"><p>¿Esta seguro de que desea modificar este registro?</p></div>
</body>
</html>
